@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/stylesheets/NotoSansKR-Hestia.css);

html {overflow-y:scroll; height:100%; min-width:320px; max-width:768px; margin:0 auto;}
body {margin:0; padding:0; font-size:1.2em; letter-spacing:-1px; background:#fff; height:100%; font-family: 'Noto Sans Korean', sans-serif; position:relative;}
h1, h2, h3, h4, h5, h6, form, fieldset, img, label {margin:0; padding:0; border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em; font-family: 'Noto Sans Korean', sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
legend {position:absolute;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;font-size:1em; font-family: 'Noto Sans Korean', sans-serif;}
button {cursor:pointer}
input[type=text], input[type=password], input[type=submit], input[type=image], button {font-size:1em;-webkit-appearance:none}
textarea, select {font-size:1em; font-family: 'Noto Sans Korean', sans-serif;}
textarea {border-radius:0;-webkit-appearance:none; font-family: 'Noto Sans Korean', sans-serif;}
select {margin:0;background:none; font-family: 'Noto Sans Korean', sans-serif;}
a {color:#333; text-decoration:none !important;}
p {margin:0;padding:0;word-break:break-all;}
hr {display:none}
pre {overflow-x:scroll; font-size:1.1em}
ul,li,dl,dt,dd {padding:0;margin:0}
ul {list-style:none}

.txt_clear{position:absolute; width:18px; height:18px; top:8px; right:0px; text-indent:-9999px; background: url('../images/common_ico.png')no-repeat; background-size: 300px; padding-right:0; background-position: -268px -88px;}
button.common_btn{position:relative; background:#fff; border:1px solid #849c23; color:#849c23; width:100%; font-weight:400; margin:10px 0; font-size:1.2em; margin:10px 0 0 0;}

*,:after,:before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}


#wrap{height: 100%; width:100%; max-width:768px; position:relative;}
#wrap .splashy{height:100%; display:table; margin:0 auto;}
#wrap .splashy .splashy_logo{display:table-cell; vertical-align:middle; padding:50px;}
#wrap .splashy .splashy_logo img{width:100%;}
#wrap .splashy_bot{position:absolute; bottom:30px; width:100%; text-align:center;}
#wrap .splashy_bot p{display:inline-block;}
#wrap .splashy_bot p img{width:60%;}

/* 휴대전화번호 입력 페이지 */
#in_content{display:table; width:100%; height:100%; margin:0 auto; text-align:center;}
#in_content .form_area{display:table-cell; vertical-align:middle; padding-left:20px; padding-right:20px;}
#in_content .p_page{width:100%; margin:0 auto;}
#in_content .p_page h2{font-size:1.5em; font-weight:400; line-height:1.5em;}
#in_content .p_page h2 span.phone_img{text-indent:-9999px; position:relative; width:160px; height:160px; display:block; margin:0 auto; background:url('../images/phone_3x.png')no-repeat; background-size:160px;}
#in_content .p_page h2 span.form_img{text-indent:-9999px; position:relative; width:160px; height:160px; display:block; margin:0 auto; background:url('../images/login_3x.png')no-repeat; background-size:160px;}
#in_content .p_page h2 span.green{font-weight:500; color:#849c23;}
#in_content .p_page .label_list{margin-top:50px;}
#in_content .p_page .label_list input.phone_form{width:100%; border:none; border-bottom:1px solid #d9d9d9; font-size:1.5em; padding:10px; color:#333;}
#in_content .form_area p.invalid{text-align:left; display:block; font-size:1.3em; color:#ff0000; margin-top:5px;}
#in_content .work_btn{position:fixed; bottom:0; left:0; width:100%;}
.work_com{width: 100%; background: #849c23; color: #fff; font-size: 1.5em; border: none; border-radius: 0; padding: 15px; display:block;}


/* 메인페이지 header */
#header{max-width:768px; width:100%; height:50px; position:fixed; padding:10px; background:#fff; z-index:999; top:0; text-align:center; box-shadow: 1.1px 1.6px 10px 0 rgba(0, 0, 0, 0.2);}
#header .logo{display:table; height:100%; width:100%; margin:0 auto;}
#header .logo p{display:table-cell; vertical-align:middle;}
#header .logo p span.logo_img{display:inline-block; width:40px;}
#header .logo p span.logo_img img{width:100%;}
#header:after{display:block; content:''; clear:both;}

#content{padding-bottom:73px; padding-top:50px;}
#content .map{position:relative;}
#content .map .map_info{position:absolute; width:90%; background:rgba(255,255,255, 0.9); left:5%; top:5%; margin-left:0px; border-radius:5px; padding:15px; box-shadow: 0.6px 0.8px 20px 0 rgba(0, 0, 0, 0.25);}
#content .map .map_info h2.map_name{font-size:1.8em; font-weight:400; margin-bottom:5px;}
#content .map .map_info p.address{font-size:1.4em; font-weight:500; position:relative; padding-left:20px;}
#content .map .map_info p.address:before{position:absolute; content:''; background:url('../images/common_ico.png')no-repeat; width:20px; height:25px; background-position:-15px -203px; background-size:250px; left:0;}

#content .work > div{border-bottom:1px solid #d9d9d9;}
#content .current_time{padding:10px 20px;}
#content .current_time p{font-size:1.4em; position:relative;}
#content .current_time p.current_txt:before{position:absolute; content:''; background:url('../images/common_ico.png')no-repeat; width:25px; height:25px; left:0;}
#content .current_time p.current_txt{float:left; font-weight:400; padding-left:30px;}
#content .current_time p.time{float:right; font-weight:500;}
#content .current_time:after{display:block; content:''; clear:both;}

#content .now_time p.current_txt:before{background-position: -46px -69px; background-size:250px;}

/* 메뉴 3개*/
/* #content .work_btn p{display:inline-block; width:32.33%; text-align:center;} */

/* 메뉴 2개*/
#content .work_btn:after{display:block; content:''; clear:both;}
#content .work_btn p{float:left; width:50%; text-align:center;}
#content .work_btn p a{font-size:1.4em; width:100%; height:100%; color:#849c23; position:relative; padding:20px 0; display:inline-block;}
#content .work_btn p a img{display:block; margin:0 auto; margin-bottom:10px;}

#content .adm_modify p.modify_btn{width:100%; font-size:1.4em; padding:10px 20px;}
#content .adm_modify p.modify_btn a{width:100%; font-weight:500; color:#333; display:block;}
#content .adm_modify p.modify_btn a:before{position:absolute; content:'\f105'; font-family:'FontAwesome'; font-size:1.0em; color:#333; right:25px;}

#content .commute_info {background:#f9f9f9;}
#content .commute_info .current_time p.in_time:before{background-position: -156px -68px; background-size:250px;}
#content .commute_info .current_time p.out_time:before{background-position: -190px -68px; background-size:250px;}
#content .commute_info .total_time p.current_txt:before{background-position: -85px -68px; background-size:250px;}


/* subpage */
#sub_content{padding-bottom:73px; padding-top:50px;}
#sub_content .report_tit{padding:25px 20px; border-bottom:1px solid #849c23;}
#sub_content .report_tit h2{font-size:1.8em; color:#333; font-weight:400;}
#sub_content .report_tit h2 span.name{color:#849c23; font-weight:500;}
#sub_content .report_tit p{position:relative; padding-left:30px; margin-top:10px;	}
#sub_content .report_tit p:before{position:absolute; content:''; width:22px; height:22px; background:url('../images/common_ico.png')no-repeat; background-size:200px; background-position:-35px -158px; left:0; top:5px; /* top:-1px; */}
#sub_content .report_tit .calendar{border:none;}
#sub_content .report_tit .calendar p input{border:none; font-size:1.3em; color:#333; box-shadow: none; padding:0px; text-align:left;}
#sub_content .month_report:after{display:block; content:''; clear:both;}
#sub_content .month_report{border-bottom:1px solid #d9d9d9;}
#sub_content .month_report p{padding:25px 20px; font-size:1.4em; color:#333; font-weight:400; float:left; width:50%; padding-right:0px;}
#sub_content .month_report p:first-child{border-right:1px solid #d9d9d9;}
#sub_content .month_report p:last-child{border-right:none; padding-left:20px;}
#sub_content .month_report p span{font-weight:500; color:#849c23; font-size:1.3em;}
#sub_content .re_list{border-top:1px solid #d9d9d9; border-bottom:1px solid #d9d9d9; border-left:0; border-right:0; margin-bottom:20px;}
#sub_content .re_list:first-child{border-top:none;}
#sub_content .re_list .list_tit{font-size:1.2em; font-weight:400; background:#ededed; border-bottom:1px solid #d9d9d9;}
#sub_content .re_list .list_tit p{padding:5px 20px;}
#sub_content .re_list .list_tit:after{display:block; content:''; clear:both;}
#sub_content .re_list .list_tit p.list_data{float:left;}
#sub_content .re_list .list_tit p.list_time{float:right;}
#sub_content .list_detail{padding:20px;}
#sub_content .list_detail:after{display:block; content:''; clear:both;}
#sub_content .list_detail .work_time{position:relative; padding-left:10px; float:left;}
#sub_content .list_detail .work_time:before{width:2px; height:40px; content:''; position:absolute; top:6px; left:0; background:#849c23;}
#sub_content .list_detail .work_time p{font-size:1.4em; color:#333; font-weight:400; }
#sub_content .list_detail .work_time p.end_time{color:#9a9a9a; padding-top:5px;}
#sub_content .list_location{margin-left:10px; float:left;}
#sub_content .list_location p{font-size:1.4em; color:#333; font-weight:500;}
#sub_content .list_location p.end_location{color:#9a9a9a; padding-top:5px;}
#sub_content .list_button{float:right; padding:10px 0;}
#sub_content .list_button button{border-radius:0; border:1px solid #849c23; color:#849c23; background:#fff; padding:5px 10px; font-size:1.2em;}

#sub_content #month_pick{border:none; font-size:1.4em; color:#333;}

#footer{background:#e9e9e9; width:100%; max-width:768px; position:fixed; bottom:0;}
#footer .footer_menu ul:after{display:block; content:''; clear:both;}
#footer .footer_menu ul li{float:left; width:50%; text-align:center;}
#footer .footer_menu ul li:first-child{border-right:1px solid #d9d9d9;}
#footer .footer_menu ul li a{color:#333; width:100%; font-size:1.4em; position:relative; padding:10px 0; display:block;}
#footer .footer_menu ul li a span{background:url('../images/common_ico.png')no-repeat; width:25px; height:25px; background-size:200px; text-indent:-9999px; margin:0 auto; display:block; margin-bottom:5px;}
#footer .footer_menu ul li a span.home_img{background-position:-13px -83px;}
#footer .footer_menu ul li a span.report_img{background-position:-47px -83px;}

#footer .footer_menu ul li.on a{color:#849c23; background:#d9d9d9;}
#footer .footer_menu ul li.on a span.home_img{background-position:-13px -122px;}
#footer .footer_menu ul li.on a span.report_img{background-position:-47px -122px;}


.m_work .modal-dialog{position:absolute; bottom:0; margin:0; width:100%;}
.m_work .modal-dialog .modal-content{border-radius:0; border:none;}
.m_work .modal-dialog .modal-header button{position:absolute; left:15px; font-size:2.0em; color:#849c23; text-shadow:none; opacity:1; font-weight:400;}
.m_work .modal-dialog .modal-header h4{text-align:center; font-size:1.5em; font-weight:500;}
.m_work .modal-body{padding:25px;}
.m_work .modal-body p{text-align:center; font-size:1.5em; font-weight:400;}
.m_work .modal-body p span.green{color:#849c23; font-weight:500;}
.m_work .modal-footer{padding:0;}
.m_work .modal-footer button{width:100%; background:#849c23; color:#fff; font-size:1.5em; border:none; border-radius:0; padding:15px;}




#mon_modify{padding-right:0 !important; max-width:768px; width:100%; margin:0 auto;}
#mon_modify.in{overflow-y:scroll;}
#mon_modify .modal-body{background:#fff; padding-bottom:70px;}
/*
#mon_modify .modal-dialog{margin:0 auto; width:100%; max-width:768px; background:#fff; position:relative; height:100%;}
*/
#mon_modify .modal-content{max-width:768px; width:100%; border-radius:0; border:none; box-shadow:none; height:100%; margin:0 auto;}
#mon_modify .modal-header button{position:absolute; left:15px; font-size:2.0em; color:#849c23; text-shadow:none; opacity:1; font-weight:400;}
#mon_modify .modal-header h4{text-align:center; font-size:1.6em; font-weight:500;}
#mon_modify .now_info{border-bottom:1px solid #d9d9d9; padding-bottom:10px;}
#mon_modify .now_info .now:after{display:block; content:''; clear:both;}
#mon_modify .now_info p{font-size:1.4em;	color:#333;}
#mon_modify .now_info .calendar{text-align:center;}
#mon_modify .now_info .calendar p{display:inline-block; position:relative; padding-left:25px;}
#mon_modify .now_info .calendar p:before{position:absolute; content:''; background:url('../images/common_ico.png')no-repeat; width:25px; height:25px; background-size:200px; text-indent:-9999px; margin:0 auto; display:block; background-position:-35px -158px; left:0; top:-1px;}
#mon_modify .now_info .now{margin:10px 0;}
#mon_modify .now_info .now:last-child{margin:0;}
#mon_modify .now_info .now p.txt_left{float:left;}
#mon_modify .now_info .now p.txt_right{float:right; text-align:right; line-height:1.1em;}
#mon_modify .now_info .now p.txt_right span.modal_time{font-size:0.8em; color:#bbbbbb; font-weight:400;}

#mon_modify .work_form h2{color:#849c23; padding-bottom:20px;}
#mon_modify .work_form .label_list:after{display:block; content:''; clear:both;}
#mon_modify .work_form p label{color:#333; display:inline-block; font-size:1.4em; font-weight:400; padding:0;}
#mon_modify .work_form input{border:0; border-bottom:1px solid #d9d9d9; border-radius:0; box-shadow: none;}
#mon_modify .work_form .label_list{margin-bottom:10px; position:relative;}
#mon_modify .work_form .label_list label{font-size:1.4em; color:#333; font-weight:400; padding:0; display:inline-block; width:20%; text-align:left;}
#mon_modify .work_form .label_list input{width:74%; margin-left:5%; color:#333; display:inline-block; font-size:1.2em;}
#mon_modify .work_form .label_list p.invalid{text-align:right; display:block; padding-left:26%; font-size:1.3em; color:#ff0000; margin-top:5px;}

#mon_modify .work_form .label_list .label_form:after{display:block; content:''; clear:both;}
#mon_modify .work_form .label_list textarea{width:74%; float:right; margin-left:5%; border:1px solid #d9d9d9; border-radius:0; box-shadow: none;}

#mon_modify .work_form{padding-top:20px;}
#mon_modify .work_form h2{font-size:1.5em;}

#mon_modify .work_form .label_list .bootstrap-datetimepicker-widget{position:absolute; bottom:0;}


#mon_modify .modal-footer{padding:0; position:fixed; bottom:0; overflow:hidden; text-align:center; width:100%; max-width:768px; left:0; right:0; margin:0 auto;}
#mon_modify .modal-footer button{width:100%; background:#849c23; color:#fff; font-size:1.5em; border:none; border-radius:0; padding:15px;}


.work_time .modal-content{border:none; border-radius:0;}
.work_time .modal-content button.close{position: absolute; left: 15px; font-size: 2.0em; color: #849c23; text-shadow: none; opacity: 1; font-weight: 400;}
.work_time .modal-content .modal-title{text-align: center; font-size: 1.5em; font-weight: 500;}
.work_time .modal-dialog{position:absolute; bottom:0; width:100%; margin:0 auto;}
.work_time .modal-body .pick_area:after{display:block; content:''; clear:both;}
.work_time .modal-body .pick_area{width:290px; margin: 0 auto;}
.work_time .modal-body .pick_area > div{float:left; text-align:center; width:28%; max-width:93px;}
.work_time .modal-body .pick_area > div .up:before{left:0; top:0;}
.work_time .modal-body .pick_area > div .down:before{left:0; top:0;}
.work_time .modal-body .pick_area > div .action-next i{font-size:3.0em; color:#849c23;}
.work_time .modal-body .pick_area > div input{display:inline-block; font-size:4.0em; font-weight:500; color:#333; width:100%; border:none; text-align:center;}
.work_time .modal-body .pick_area .underbar{width:10%; padding:20px 0;}
.work_time .modal-body .pick_area .underbar p{display:inline-block; font-size:5.0em;}
.work_time .modal-body .pick_area .meridian{margin-left:15px; padding:50px 0;}

.work_time .modal-footer{padding:0;}
.work_time .modal-body .pick_area .meridian button{width:100%; height:45px; line-height:45px; border-radius:0.25em; background:#849c23; display:inline-block; color:#fff; vertical-align:middle; font-size:3.0em; border:0; padding:0;}
.work_time .modal-footer button{width:100%; background:#849c23; color:#fff; font-size:1.5em; border:none; border-radius:0; padding:15px;}


/* #MonthPicker_month_pick:before{display: block; content: ''; width: 100%; left: 0; top: 0; height: 100%; position: fixed; background: rgba(0,0,0,0.5);} 
#MonthPicker_month_pick > div > table{position:relative; z-index:333;}
#MonthPicker_month_pick .modal-backdrop{position: fixed; width: 100%; background:rgba(0,0,0,0.5); height: 100%; display:block !important;}
body .month-picker{position:fixed; max-width:250px; width:100%; left:0 !important; top:0 !important; margin:57% auto;}
body .month-picker .month-picker-header{background:#849c23; position:relative; z-index:333;}
body .month-picker table{width:100%; padding:10px;}
body .month-picker tr td.month-picker-title{text-align:center;}
body .month-picker tr td{color:#fff; font-size:1.0em; font-weight:400; width:63px; height:50px; letter-spacing:-1px; position:relative; padding:10px 0;}
body .month-picker tr td a:before{position:absolute; font-family:'FontAwesome'; font-size:1.0em;}
body .month-picker tr td a{color:#fff; width:100%; font-size:1.5em; font-weight:400; letter-spacing:-1px; position:relative;}
body .month-picker tr td a span.ui-icon{text-indent:-9999px; display:inline-block; width: 30px; position: relative;}
body .month-picker tr td.month-picker-previous a:before{content:'\f104'; left:15px;}
body .month-picker tr td.month-picker-next a:before{content:'\f105'; right:15px;}
body .month-picker-month-table{background:#fff; text-align:center;}
body .month-picker-month-table tr td a{color:#333; padding:5px 10px; border-radius:5px; font-size:1.3em;}
body .month-picker-month-table tr td a.ui-state-hover,
body .month-picker-month-table tr td a.ui-state-active{background:#849c23 !important; color:#fff !important;}
body .month-picker-month-table tr td a.ui-state-highlight{background:#fff; border:1px solid #849c23; color:#333;}
*/