@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/theeluwin/NotoSansKR-Hestia@master/stylesheets/NotoSansKR-Hestia.css);

html {overflow-y:scroll; height:100%; min-width:320px; max-width:768px; margin:0 auto;}
body {margin:0; padding:0; font-size:1.2em; background:#fff; height:100%; font-family: 'Noto Sans Korean', sans-serif;}
h1, h2, h3, h4, h5, h6, form, fieldset, img, label {margin:0; padding:0; border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em; font-family: 'Noto Sans Korean', sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
legend {position:absolute;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;font-size:1em; font-family: 'Noto Sans Korean', sans-serif;}
button {cursor:pointer}
input[type=text], input[type=password], input[type=submit], input[type=image], button {font-size:1em;-webkit-appearance:none}
textarea, select {font-size:1em; font-family: 'Noto Sans Korean', sans-serif;}
textarea {border-radius:0;-webkit-appearance:none; font-family: 'Noto Sans Korean', sans-serif;}
select {margin:0;background:none; font-family: 'Noto Sans Korean', sans-serif;}
a {color:#333; text-decoration:none !important;}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll; font-size:1.1em}
ul,li,dl,dt,dd {padding:0;margin:0}
ul {list-style:none}

.txt_clear{position:absolute; width:18px; height:18px; top:10px; right:0px; text-indent:-9999px; background: url('../images/background_img.png')no-repeat; background-size: 400px; background-position: -292px -84px;}
button.common_btn{position:relative; background:#fff; border:1px solid #849c23; color:#849c23; width:100%; font-weight:400; margin:10px 0; font-size:1.2em; margin:10px 0 0 0;}

*,:after,:before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}


#wrap{height: 100%; width:100%; max-width:768px; position:relative;}
#wrap .splashy{height:100%; display:table; margin:0 auto;}
#wrap .splashy .splashy_logo{display:table-cell; vertical-align:middle; padding:50px;}
#wrap .splashy .splashy_logo img{width:100%;}
#wrap .splashy_bot{position:absolute; bottom:30px; width:100%; text-align:center;}
#wrap .splashy_bot p{display:inline-block;}
#wrap .splashy_bot p img{width:60%;}

/* 메인페이지 header */
#header{max-width:768px; width:100%; height:80px; position:relative; padding:15px; background:#849c23; z-index:999; top:0; color:#fff; text-align:center;}
#header:after{display:block; content:''; clear:both;}

#content .map{position:relative;}
#content .map .map_info{position:absolute; width:90%; background:rgba(255,255,255, 0.9); left:5%; top:5%; margin-left:0px; border-radius:5px; padding:15px;}
#content .map .map_info h2{font-size:1.8em; font-weight:400; margin-bottom:5px;}
#content .map .map_info p{font-size:1.6em; font-weight:500;}
#content .work > div{border-bottom:1px solid #d9d9d9;}
#content .current_time{padding:10px 20px;}
#content .current_time p{font-size:1.4em;}
#content .current_time p.current_txt{float:left; font-weight:400;}
#content .current_time p.time{float:right; font-weight:500;}
#content .current_time:after{display:block; content:''; clear:both;}

/* 메뉴 3개*/
/* #content .work_btn p{display:inline-block; width:32.33%; text-align:center;} */

/* 메뉴 2개*/
#content .work_btn p{display:inline-block; width:49.5%; text-align:center;}
#content .work_btn p a{font-size:1.4em; color:#849c23;}

#content .adm_modify p.modify_btn{width:100%; font-size:1.4em;}
#content .adm_modify p.modify_btn a{width:100%; font-weight:500; color:#333;}

#content .work_btn p a{width:100%;}

#footer{padding:0 15px; background:#e9e9e9;}
#footer .footer_menu ul li{display:inline-block; width:49.5%; text-align:center;}
#footer .footer_menu ul li a{color:#333; width:100%; font-size:1.4em;}

#modal_office.in .modal-dialog{position:absolute; bottom:0; width:100%; margin:0;
-webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s;
}
@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

